In [2]:
age = 27
height = 1.91

In [4]:
age

27

In [6]:
height

1.91

In [8]:
type(age)

int

In [10]:
# type of height variable
type(height)

float

In [12]:
height + 1

2.91

In [14]:
age + height

28.91

In [16]:
# my teacher's age in 31 years
Teachersage = age + 31

In [18]:
Teachersage

58

In [19]:
"python is cool!"

'python is cool!'

In [21]:
print("python is cool!")

python is cool!

In [22]:
# printing my name
# Type 1 :
"Kalpana Janarthanam"

'Kalpana Janarthanam'

In [24]:
# Type 2:
print('Kalpana Janarthanam')

Kalpana Janarthanam

In [25]:
# Type 3 :
firstname = 'Kalpana'
lastname = 'Janarthanam'
print(firstname + lastname)

KalpanaJanarthanam

In [26]:
print(firstname + " " + lastname)

Kalpana Janarthanam

In [28]:
# Letting you know what I like
a = "I like "
b = "Hamburgers "
c = "Taco's "
d = "Pancakes "
e = "Beer "
print(a + " " + b)

I like  Hamburgers

In [32]:
programming_languages = ["Python", "Java", "Haskell", "Scala", "C#", "JavaScript", "HTML", "Matlab", "CSS", "Go"]

In [35]:
# printing elements of the list one after another
for i in programming_languages():
    print(i + "\n")

TypeError: 'list' object is not callable

In [37]:
# printing elements of the list one after another
for i in programming_languages:
    print(i + "\n")

Python

Java

Haskell

Scala

C#

JavaScript

HTML

Matlab

CSS

Go

In [44]:
programming_languages

['Python',
 'Java',
 'Haskell',
 'Scala',
 'C#',
 'JavaScript',
 'Matlab',
 'CSS',
 'Go']

In [47]:
programming_languages = ["Python", "Java", "Haskell", "Scala", "C#", "JavaScript", "HTML", "Matlab", "CSS", "Go"]
# deleting 2 elements from the list
programming_languages.remove('HTML')
programming_languages.remove('CSS')
programming_languages

['Python', 'Java', 'Haskell', 'Scala', 'C#', 'JavaScript', 'Matlab', 'Go']

In [55]:
# adding COBOL to the list and calculating length of the list
programming_languages.append('COBOL')

programming_languages

['Python',
 'Java',
 'Haskell',
 'Scala',
 'C#',
 'JavaScript',
 'Matlab',
 'Go',
 'COBOL']

In [57]:
len(programming_languages)

9

In [59]:
# printing the elements of the list in reverse order
reversed_list = list(reversed(programming_languages))
reversed_list

['COBOL',
 'Go',
 'Matlab',
 'JavaScript',
 'C#',
 'Scala',
 'Haskell',
 'Java',
 'Python']

In [11]:
# write a function that takes a list and stores the unique entries only in a new list
programming_languages2 = ['COBOL','Scala', 'Scala', 'Python', 'Go', 'Matlab', 'Python', 'JavaScript','Go', 'C#','Python', 'Scala', 'Haskell', 'Java', 'Python']
def unique_values(liste):
    unique_liste = []
    for i in liste:
        if i not in unique_liste:
            unique_liste.append(i)
    print(unique_liste)
    return
unique_values(programming_languages2)

['COBOL', 'Scala', 'Python', 'Go', 'Matlab', 'JavaScript', 'C#', 'Haskell', 'Java']

In [62]:
city_population = {
    'Tokyo': 13350000,
    'Los Angeles': 18550000,
    'New York City': 8400000,
    'San Francisco': 1837442,
}
city_population

{'Tokyo': 13350000,
 'Los Angeles': 18550000,
 'New York City': 8400000,
 'San Francisco': 1837442}

In [64]:
# printing the population of Newyork city
city_population['New York City']

8400000

In [66]:
# Adding Munich to the dictionairy (Munich has population of 1464301)
city_population['Munich'] = 1464301
city_population

{'Tokyo': 13350000,
 'Los Angeles': 18550000,
 'New York City': 8400000,
 'San Francisco': 1837442,
 'Munich': 1464301}

# Homework

In [68]:
import pandas as pd
df = pd.read_csv("fifa.csv")
name = list(df.iloc[:,1])
rating = list(df.iloc[:,2])
height = list(df.iloc[:,4])
foot = list(df.iloc[:,5])

In [71]:
name[0:5]

[' Gábor Király',
 ' Frederik Boi',
 ' Tomasz Szewczuk',
 ' Steeve Joseph-Reinette',
 ' Kamel Chafni']

In [73]:
# the first 5 entries of the rating list
rating[:5]

[69, 65, 57, 63, 72]

In [75]:
max(height)

208

In [77]:
# the highest rating in the 'rating' list and save this to the variable 'max_rating'
max_rating = max(rating)
max_rating

94

In [79]:
# this identifies the best player in the list based on rating
index_best_player = rating.index(max_rating)
index_best_player

2195

In [81]:
# Who is worlds best soccer player?
name[2195]

' Lionel Messi'

In [82]:
# Does he plays with his Right or Left foot?
foot[2195]

' Left'